/*This is the stylesheet for the about the team page*/
@import "universal.css";

/*universal page styles*/
p, h3, h4{
    color: white;
}

h4{
    font-size: 20px;
}

h3{
    font-size: 26px;
}

.memberCard{
    text-align: center;
    display: absolute;
    float: left;
    overflow: hidden;
    background-color: #e0e8d4;
}

/*Description section for each member. contains name, occupation, bio*/
.textDiv{
    position: relative;
}

.picture{
    z-index: 0;
}

/*Paragraph element for each member's name and occupation*/
.memberName, .memberPosition{
    font-family: 'Yomogi', cursive;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}

/*Paragraph element for every member's bio*/
.memberDescription{
    font-family: 'Special Elite', cursive;
    font-weight: 550;
    color: black;
    line-height: 1.6em;
}

/*section div containing all team member cards*/
.teamSection{
    height: 100%;
    width: 100%;
    margin: auto;
    text-align: center;
}

/*Mobile and Small Viewports*/
@media only screen and (max-width: 600px){
    .pictureDiv, .textDiv{
        width: 100%;
        height: auto;
    }

    .memberCard{
        height: auto;
        width: 100%;
        margin-top: 15px;
    }

    .memberName{
        font-size: 28px;
        margin: 2px;
    }

    .memberPosition{
        font-size: 24px;
        margin: 2px;
    }

    .textDiv{
        padding-left: 3%;
        padding-right: 3%;
    }
}


/*medium-large*/
@media only screen and (min-width: 600px){
    .pictureDiv, .textDiv{
        width: 100%;
        height: auto;
    }

    .memberImages{
        margin-left: 0;
        margin-right: 0;
        margin-top: 4%;
        padding: 0;
    }

    .textDiv{
        padding: 4%;
    }

    .memberName{
        font-size: 28px;
        margin: 2px;
    }

    .memberPosition{
        font-size: 24px;
        margin: 2px;
    }

    .memberCard{
        margin-bottom: 15px;
    }
}

/*x large*/
@media only screen and (min-width: 1200px){
    .pictureDiv, .textDiv{
        float: left;
        width: 100%;
    }

    .memberCard{
        height: 650px;
        margin-bottom: 5%;
    }

    .memberName{
        font-size: 28px;
        margin-bottom: 0px;
    }

    .memberPosition{
        font-size: 24px;
        margin-top: 0px;
    }

    .memberDescription{
        font-size: 16px;
    }

    .teamSection{
        margin-top: 60px;
        padding-left: 10%;
        padding-right: 10%;
    }
}