@import "contactUs.css";

body{
   background-color: black;
}

/*Navigation Section*/
#navDiv{
    width: 100%;
    height: 80px;
    padding-top: 10px;
    text-align: center;
}

/*Unordered list containing the navigation tab info*/
#navUL{
    list-style: none;
    white-space: nowrap;
    padding: 0;
}

/*Divs for the individual tab items on the nav bar*/
.navItemDiv{
    display: inline;
    width: 200px;
    margin: 60px;
}

/*List items for the individual tabs on the navigation*/
.navTabLI{
    display: inline;
    white-space: nowrap;
    text-align: center;
}

/*Links for the navigation tab pages*/
.navLink{
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Yomogi', cursive;
    letter-spacing: .2em;
    word-spacing: .25em;
}

/*Main content and welcome banner*/
#welcomeDiv{
    width: 100%;
    height: 500px;
    border: 2px solid white;
    border-radius: 8px;
    text-align: center;
}

#welcomeHeader{
    color: white;
    letter-spacing: .2em;
    word-spacing: .1em;
    font-size: 30px;
}

#welcomeText{
    color: white;
    letter-spacing: .2em;
    word-spacing: .1em;
}

/*Content Section: Podcast Description and such*/
/*Main divider containing the podcast overview description. In the future i would love to 
overlap this div with the rotating art, but thats future state*/
#descriptionDiv{
    margin-left: 10%;
    margin-right: 10%;
    background-color: #FFFEF3;
    border-radius: 10px;
    padding: 10px;
    margin-top: 40px;
}

#podcastDescriptionP1{
    text-align: center;
    color: black;
    font-family: 'Special Elite', cursive;
}

#podcastDescriptionP2{
    text-align: center;
    color: black;
    font-family: 'Special Elite', cursive;
    margin-top: 6px;
}

#latestEpisodesDiv{
    text-align: center;
}

#findUsText, .header1{
    font-size: 36px;
    text-transform: uppercase;
    font-family: 'Yomogi', cursive;
}

#latestEpisodesHeader{
    font-size: 44px;
    text-transform: uppercase;
    font-family: 'Yomogi', cursive;
}

/*animation section for the navigation*/
a{
    position: relative;
}

a:hover{
    color: white;
}

a::before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

a:hover::before{
    transform: scaleX(1);
}


/*Main Content!*/
h1, h3{
    color: white;
    font-weight: lighter;
}

#findUsDiv{
    height: 200px;
    text-align: center;
    margin-top: 80px;
}

#listenNowDiv{
    height: 800px;
    text-align: center;
}

.ionIcon{
    color: white;
    font-size: 60px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 10px;
}

/*Streaming Service Connection Section*/
#streamingServicesWrapper{
    height: 500px;
    width: 100%;
    text-align: center;
}

#applePodcastLink{
    color: white;
    display: block;
    overflow: hidden;
    border-radius: 13px;
    width: 250px;
    height: 83px;
    margin-bottom: 10px;
}

#applePodcastImage{
    border-radius: 13px;
    width: 250px;
    height: 83px;
}

#promoEpisodeBadge, #trailerEpisodeBadge{
    width: 40%;
    margin-bottom: 6px;
    margin-right: 10px;
}

/*Episode Styling*/
#episodeObjectWrapper{
    background-color: white;
    height: 500px;
    width: 300px;
    margin-left: 10px;
    text-align: center;
}

#episodeImageWrapper{
    height: 300px;
    width: 300px;
}

#episodePostTextWrapper{
    width: 300px;
    height: 200px;
}

#apple, #spotify{
    display: block;
    width: 100%;
    text-align: left;
    margin-left: 10%;
}

#spotify{
    margin-top: 40px;
}

#spotifyButtonLink{
    width: 300px;
    height: 50px;
    border: none;
    color: white;
    font-size: 30px;
    display: block;
    margin-bottom: 16px;
    font-family: 'Yomogi', cursive;
    text-transform: uppercase;
    text-decoration: none;
}

#appleButtonLink{
    width: 400px;
    height: 50px;
    border: none;
    color: white;
    font-size: 30px;
    display: block;
    margin-bottom: 16px;
    font-family: 'Yomogi', cursive;
    text-transform: uppercase;
    text-decoration: none;
}


#ion-icon{
    color: white;
    display: inline-block;
    font-size: 24px;
    margin-left: 6px;
}

#iconSpan{
    
}