/*This is the stylesheet for the index.php/ home page*/
@import "universal.css";

*{
    text-align: center;
}

h1, h3{
    color: white;
    font-weight: lighter;
}

/*welcome banner*/
#welcomeDiv{
    width: 100%;
    border-radius: 8px;
    margin-bottom: 0px;
}

.skelly{
    max-height: 600px;
    overflow: hidden;
}

.responsiveLogo{
    width: 304.5px;
    height: 238px;
    display: inline;
}

/*Content Section: Podcast Description and such*/
/*Main divider containing the podcast overview description. In the future i would love to 
overlap this div with the rotating art, but thats future state*/
.descriptionDivWrapper{
    background-color: #e0e8d4;
    margin: 0 auto;
    margin-top: 0px;
}

/*Contains the about paragraphs Sofi wrote*/
.descriptionDiv{
    margin-left: 10%;
    margin-right: 10%;
    background-color: #e0e8d4;
}

/*Description Paragraphs*/
#podcastDescriptionP1, #podcastDescriptionP2{
    color: black;
    font-family: 'Special Elite', cursive;
}

/*Mobile and Small Viewports*/
@media only screen and (max-width: 600px){
    /*Display the menu button*/
    .mobileMenu{
        display: block;
    }

    /*First Description paragraph, separated for ease of reading*/
    #podcastDescriptionP1, #podcastDescriptionP2{
        font-size: 20px;
    }

    .descriptionDivWrapper{
        height: auto;
        margin-top: 0;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .descriptionDiv{
        height: auto;
    }

    #welcomeDiv{
        height: 240px;
    }

    #latestEpisodesHeader{
        font-size: 30px;
    }

    #streamingServicesWrapper{
        height: auto;
    }

    #allEpisodes, #allEpisodesLink{
        font-size: 20px;
    } 

    #findUsText{
        font-size: 30px;
        margin-left: 1%;
        margin-right: 1%;
    }

    #findUsDiv{
        margin-top: 0px;
        height: 200px;
    }

    .socialLinks{
        font-size: 30px;
        display: block;
        margin-bottom: 10px;
    }

    .ionIcon{
        font-size: 24px;
    }

}

/*Medium and Large ViewPorts*/
@media only screen and (min-width: 600px){
    /*First Description paragraph, separated for ease of reading*/
    #podcastDescriptionP1, #podcastDescriptionP2{
        font-size: 26px;
    }

    #welcomeDiv{
        height: 600px;
    }

    .descriptionDivWrapper{
        height: auto;
        margin-top: 0;
        padding-top: 1%;
        padding-bottom: 1%;
    }

    .descriptionDiv{
        height: auto;
    }

    #listenNowDiv{
        height: auto;
    }

    .listenDiv{
        display: inline;
    }

    #allEpisodesLink, #findUsText{
        font-size: 40px;
    }

    #allEpisodes{
        font-size: 30px;
    }
    
    #latestEpisodesHeader{
        font-size: 46px;
    }

    #streamingServicesWrapper{
        height: auto;
    }

    #findUsDiv{
        padding-left: 2%;
        padding-right: 2%;
        margin-top: 0px;
        height: 200px;
        margin-bottom: 20px;
    }

    .socialLinks{
        font-size: 30px;
        display: inline;
    }

    .ionIcon{
        font-size: 28px;
    }
}

.socials{
    display: inline;
    padding: 1%;
}

.streams > div{
    vertical-align: middle;
}

/*Text for Checking out the latest episode*/
#latestEpisodesHeader{
    text-transform: uppercase;
    font-family: 'Yomogi', cursive;
    color: #e0e8d4;
    margin-bottom: 20px;
}

/*Text for link to get to the episodes page*/
#allEpisodes{
    font-family: 'Yomogi', cursive;
    color: #e0e8d4; 
    text-transform: uppercase;
}

/*Link for the episodes page*/
#allEpisodesLink{
   text-decoration: none;
}

#findUsText, .header1{
    text-transform: uppercase;
    font-family: 'Yomogi', cursive;
    color: #e0e8d4;
}

/*Streaming services wrapper div*/
#streamingServicesWrapper{
    width: 100%;
    margin-bottom: 0px;
}

/*Divs for the individual streaming services section*/
.listenDiv{
    text-decoration: none;
    margin-bottom: 20px;
    margin-right: 20px;
}

/*Links for the streaming services*/
.listenLink{
    text-decoration: none;
}

/*Styling pulled from the apple podcast iframe embed*/
#applePodcastLink{
    color: white;
    display: inline;
    overflow: hidden;
    border-radius: 13px;
    width: 250px;
    height: 83px;
}

#spotifyPodcastLink, #soundcloudLink{
    display: inline;
}

#spotifyButton{
    color: black;
    background-color: #e0e8d4;
    border-radius: 13px;
    height: 63px;
    width: 250px;
    font-size: 30px;
    border: none;
    cursor: pointer;
}

#soundcloudButton{
    color: black;
    background-color: #e0e8d4;
    border-radius: 13px;
    height: 63px;
    width: 250px;
    font-size: 30px;
    border: none;
    cursor: pointer;
}

/*More styling for the apple podcast embed*/
#applePodcastImage{
    border-radius: 13px;
    width: 250px;
    height: 83px;
}

.usernames{
    text-decoration: none;
    color: #e0e8d4;
    vertical-align: middle;
    font-family: "Special Elite", cursive;
    display: inline;
    font-size: 22px;
}

.socialLinks{
    text-decoration: none;
}