@import "contactUs.css";

body{
   background-color: black;
   margin: 0;
}

/*Changing the scrollbar*/
body::-webkit-scrollbar {
    width: 1em;
}
   
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px darkgrey;
}
   
body::-webkit-scrollbar-thumb {
    background-color: #e0e8d4;
    outline: 1px solid darkgrey;
}

/*Main Content!*/
h1, h3{
    color: white;
    font-weight: lighter;
}

#mainContent{
    margin-top: 0;
}

/*Navigation Section*/
#navDiv{
    width: 100%;
    height: 80px;
    padding-top: 10px;
    text-align: center;
}

/*Unordered list containing the navigation tab info*/
#navUL{
    list-style: none;
    white-space: nowrap;
    padding: 0;
}

/*Divs for the individual tab items on the nav bar*/
.navItemDiv{
    display: inline;
    width: 200px;
    margin: 60px;
}

/*List items for the individual tabs on the navigation*/
.navTabLI{
    display: inline;
    white-space: nowrap;
    text-align: center;
}

/*Links for the navigation tab pages*/
.navLink{
    color: #e0e8d4;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Yomogi', cursive;
    letter-spacing: .2em;
    word-spacing: .25em;
}

/*Main content and welcome banner*/
#welcomeDiv{
    width: 100%;
    height: 600px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 0px;
}

#skelly{
    max-height: 600px;
    overflow: hidden;
}

/*Content Section: Podcast Description and such*/
/*Main divider containing the podcast overview description. In the future i would love to 
overlap this div with the rotating art, but thats future state*/
#descriptionDivWrapper{
    height: 300px;
    background-color: #e0e8d4; 
    width: 100%;
    margin-top: 0px;
    margin: 0 auto;
}
/*Contains the about paragraphs Sofi wrote*/
#descriptionDiv{
    margin-left: 10%;
    margin-right: 10%;
    background-color: #e0e8d4;
    height: 250px;
    padding-top: 20px;
}

/*First Description paragraph, separated for ease of reading*/
#podcastDescriptionP1{
    text-align: center;
    color: black;
    font-family: 'Special Elite', cursive;
}

/*Second Description Paragraph*/
#podcastDescriptionP2{
    text-align: center;
    color: black;
    font-family: 'Special Elite', cursive;
    margin-top: 6px;
}

/*Div for the latest episodes and streaming service links*/
#listenNowDiv{
    height: 700px;
    text-align: center;
}

.listenDiv{
    height: 100px;
    width: 260px;
}

/*Div for previewing the soundcloud embed of the latest episode*/
#latestEpisodesDiv{
    text-align: center;
    height: 500px;
}

/*Text for Checking out the latest episode*/
#latestEpisodesHeader{
    font-size: 44px;
    text-transform: uppercase;
    font-family: 'Yomogi', cursive;
    color: #e0e8d4;
    margin-bottom: 20px;
}

/*Text for link to get to the episodes page*/
#allEpisodes{
    font-family: 'Yomogi', cursive;
    color: #e0e8d4; 
    font-size: 20px;
    text-transform: uppercase;
}

/*Link for the episodes page*/
#allEpisodesLink{
   text-decoration: none;
}

#findUsText, .header1{
    font-size: 36px;
    text-transform: uppercase;
    font-family: 'Yomogi', cursive;
    color: #e0e8d4;
}

/*Streaming services wrapper div*/
#streamingServicesWrapper{
    height: 200px;
    width: 100%;
}

/*List for the streaming services*/
#streamingDiv{

}

/*Divs for the individual streaming services section*/
.listenDiv{
    display: inline;
    text-decoration: none;
    margin-right: 20px;
}

/*Links for the streaming services*/
.listenLink{
    text-decoration: none;
}

/*Styling pulled from the apple podcast iframe embed*/
#applePodcastLink{
    color: white;
    display: inline;
    overflow: hidden;
    border-radius: 13px;
    width: 250px;
    height: 83px;
    margin-bottom: 10px;
}

#spotifyButton{
    color: black;
    background-color: white;
    border-radius: 13px;
    height: 63px;
    width: 250px;
    margin-bottom: 10px;
    font-size: 30px;
    border: none;
}

#soundcloudButton{
    color: black;
    background-color: white;
    border-radius: 13px;
    height: 63px;
    width: 250px;
    margin-bottom: 10px;
    font-size: 30px;
    border: none;
}

/*More styling for the apple podcast embed*/
#applePodcastImage{
    border-radius: 13px;
    width: 250px;
    height: 83px;
}
/*Social media div*/
#findUsDiv{
    height: 500px;
    text-align: center;
}

/*Style for social links and any other icons used*/
.ionIcon{
    color: #e0e8d4;
    font-size: 60px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 10px;
}

/*animation section for links and navigation*/
a{
    position: relative;
}

.navLink:hover{
    color: white;
}

.navLink::before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.navLink:hover::before{
    transform: scaleX(1);
}

/*NOT CURRENTLY IN USE - DELETE ON CONSENSUS!*/

/*#apple, #spotify{
    display: block;
    width: 100%;
    text-align: left;
    margin-left: 10%;
}

#spotify{
    margin-top: 40px;
}

#spotifyButtonLink{
    width: 300px;
    height: 50px;
    border: none;
    color: white;
    font-size: 30px;
    display: block;
    margin-bottom: 16px;
    font-family: 'Yomogi', cursive;
    text-transform: uppercase;
    text-decoration: none;
}

#appleButtonLink{
    width: 400px;
    height: 50px;
    border: none;
    color: white;
    font-size: 30px;
    display: block;
    margin-bottom: 16px;
    font-family: 'Yomogi', cursive;
    text-transform: uppercase;
    text-decoration: none;
}


#ion-icon{
    color: white;
    display: inline-block;
    font-size: 24px;
    margin-left: 6px;
}

#iconSpan{
    
}*/