body{
    background-color: black;
    margin: 0;
}

/*Navigation Section*/
#navDiv{
    width: 100%;
    height: 80px;
    padding-top: 10px;
    text-align: center;
}

/*Unordered list containing the navigation tab info*/
#navUL{
    list-style: none;
    white-space: nowrap;
    padding: 0;
}

/*Divs for the individual tab items on the nav bar*/
.navItemDiv{
    display: inline;
    width: 200px;
    margin: 60px;
}

/*List items for the individual tabs on the navigation*/
.navTabLI{
    display: inline;
    white-space: nowrap;
    text-align: center;
}

/*Links for the navigation tab pages*/
.navLink{
    color: #e0e8d4;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Yomogi', cursive;
    letter-spacing: .2em;
    word-spacing: .25em;
}

/*animation section for the navigation*/
a{
    position: relative;
}

.navLink:hover{
    color: white;
}

.navLink::before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.navLink:hover::before{
    transform: scaleX(1);
}

#contactWrapper{
}

label{
    display: block;
}

#textArea{
    display: block;
    margin: auto;
    height: 150px;
    width: 500px;
}

#submissionWarning{
    padding-top: 8px;
    padding-left: 200px;
    padding-right: 200px;
    height: 300px;
    text-align: center;
    background-color: #e0e8d4;
}

.expectationsText, .submissionRequirementLI{
    color: black;
}

#submitStoryDiv{
    height: 1000px;
}

h1, h2, p, h6, h3{
    color: black;
    font-family: 'Yomogi', cursive;
    text-transform: uppercase;
}

label{
    font-family: 'Yomogi', cursive;
    text-transform: uppercase;
    color: white;
}

#expectationsDiv{
    padding-top: 8px;
    height: 300px;
    width: 100%;
    text-align: center;
}

.expectations{
    color: white;
    font-weight: bold;
    font-family: 'Yomogi', cursive;
    padding-left: 300px;
    padding-right: 300px;
}

#dontFret{
    color: white;
    font-weight: bold;
    font-family: 'Yomogi', cursive;
    padding-left: 200px;
    padding-right: 200px;
}

/*Input Styling for left side*/
.inputBox{
    height: 40px;
    width: 500px;
    margin-top: 6px;
    margin-bottom: 6px;
}

#fullNameLabel, #emailLabel{
    display: inline;
    font-size: 24px;
}

#taggingLabel{

}

#emailInputDiv{
    margin-bottom: 50px;
    margin-left: 8.2%;
}

/*Form Styling*/
.formLabel{
    font-size: 22px;
    margin: auto;
    margin-top: 2%;
}

.inputBox{
    margin: auto;
}

#yesValue, #noValue{
    margin-left: 2%;
}

#storyTextArea{
    width: 500px;
    height: 300px;
}

input[type=radio]{
    border: 0px;
    height: 1.8em;
    width: 1.8em;
}

.value{
    color: white;
    display: inline;
    font-size: 22px;
    vertical-align: text-bottom;
}

input[type=submit] {
    height: 40px;
    width: 506px;
    margin-bottom: 20px;
    font-size: 22px;
    text-transform: uppercase;
    font-family: 'Yomogi', cursive;
    font-weight: bolder;
}

/*Styling the form into two columns*/
.formDiv{
    width: 50%;
    float: left;
    position: relative;
    text-align: center;
}

#storyInputDiv{
    text-align: center;
}

#submitButtonDiv{
    text-align: center;
}

#storyAndSubmitWrapper{
    width: 100%;
    height: 500px;
    display: block;
}

#questionDiv{
    width: 100%;
    height: 400px;
    display: block;
}

#storyLabel{
    font-size: 30px;
}