/*This is the stylesheet for the submissions page.*/
@import "universal.css";

label{
    display: block;
}

#textArea{
    display: block;
    margin: auto;
    height: 150px;
    width: 500px;
}

#submissionWarning{
    /*padding-top: 8px;
    padding-left: 200px;
    padding-right: 200px;*/
    height: auto;
    text-align: center;
    background-color: #e0e8d4;
}

.expectationsText, .submissionRequirementLI{
    color: black;
}

#submitStoryDiv{
    height: auto;
}

h1, h2, p, h6, h3{
    color: black;
    font-family: 'Yomogi', cursive;
    text-transform: uppercase;
}

label{
    font-family: 'Yomogi', cursive;
    text-transform: uppercase;
    color: white;
}

#expectationsDiv{
    padding-top: 8px;
    height: auto;
    width: 100%;
    text-align: center;
}

.expectations{
    color: white;
    font-weight: bold;
    font-family: 'Yomogi', cursive;
}

#dontFret{
    color: white;
    font-weight: bold;
    font-family: 'Yomogi', cursive;
}

/*Input Styling*/
.inputBox{
    height: 40px;
    width: 500px;
    margin-top: 6px;
    margin-bottom: 6px;
}

/*Form Styling*/
.formLabel{
    font-size: 22px;
    margin: auto;
    margin-top: 2%;
    text-align: left;
}

.empty{
    display: block;
}

.inputBox{
    width: 100%;
}

/*Radio Buttons*/
#yesValue, #noValue{
    margin-left: 2%;
}

input[type=radio]{
    border: 0px;
    height: 1.8em;
    width: 1.8em;
}

.value{
    color: white;
    display: inline;
    font-size: 22px;
    vertical-align: text-bottom;
}

/*Styling the form*/
.formDiv{
    width: 100%;
}

/*Story input and submit button*/
#storyLabel{
    font-size: 30px;
}

#storyTextArea{
    height: 200px;
    width: 100%;
} 

#submitButton{
    height: 40px;
    margin-bottom: 20px;
    font-size: 22px;
    text-transform: uppercase;
    font-family: 'Yomogi', cursive;
    font-weight: bolder;
}

/*Mobile and Small Viewports*/
@media only screen and (max-width: 600px){
    /*Display the menu button*/
    .mobileMenu{
        display: block;
    }

    /*Do not display menu unless triggered by event handler (will write JS later)*/
    .navDiv{
        display: none;
    }

    .navExpanded{
        display: block;
    }

    #submitButtonDiv{
        text-align: center;
    }

    #submitButton{
        width: 50%;
    }

    .formDiv{
        padding: 2%;
    }

    #storyInputDiv{
        padding-right: 5%;
        padding-left: 5%;
    }
}

/*Medium and Large ViewPorts*/
@media only screen and (min-width: 600px){
    .expectations, .expectationsText, .expectationsDisclaimer{
        padding-left: 10%;
        padding-right: 10%;
    }

    #dontFret{
        padding-left: 10%;
        padding-right: 10%;
    }

    #submitButtonDiv{
        text-align: center;
    }
    #submitButton{
        width: 10%;
    }
}